<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <springProfile name="test">
        <appender name="testLogAppender" class="org.testcharm.fore2e.TestLogAppender"/>
        <logger name="org.hibernate.SQL" level="DEBUG" additivity="false">
            <appender-ref ref="testLogAppender"/>
        </logger>
        <root level="info">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="testLogAppender"/>
        </root>
    </springProfile>

    <springProfile name="!test">
        <root level="info">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

</configuration>
